{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
<div class="body grid-container">
    <div class="header">Тут шудет шапка</div>
    <div class="menu">
        <div><a href="/">Главная</a></div>
        <div><a href={% url "common:about_page" %}>О нас</a></div>
        <div><a href={% url "common:contacts_page" %}>Контакты</a></div>
        {% if user.is_active %}
            <div><a href={% url "account_page" %}>Профиль</a></div>
            {% if "employee" %}
                <div><a href={% url "employee_page_choise" %}>Панель сотрудника</a></div>
            {% endif %}
        {% else %}
            <div><a href={% url "login_page" %}>Войти</a></div>
        {% endif %}
    </div>
    <div class="body">{% block body %}Тело{% endblock body%}</div>
    <div class="bottom">Низ</div>
</div>

